.cart__products {
    height: 100%;
    overflow-y: scroll;
    max-height: calc(100vh - 250px);
}

.cart__product-description:hover {
    box-shadow: 0px 4px 11px 0px rgba(29, 31, 34, 0.3);
    background-color: var(--AntiFlash);
}

.cart__product-description {
    height: 190px;
    position: relative;
}

.cart__product-image {
    height: 175px;
    padding: 7px;
    float: left;
}

.cart__product-name {
    color: #000000;
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.product__name {
    max-height: 65px;
    overflow-y: hidden;
}

.product_size {
    color: var(--Thunderbird);
    font-weight: bold;
    font-size: 1.1rem;
}

.cart_product-price {
    display: flex;
    color: #000000;
    font-style: bold;
    font-size: 1.5rem;
    padding-top: 8px;
}

.regular_price {
    font-size: 1.1rem;
    color: var(--MetallicRed);
    text-decoration-line: line-through;
    padding-top: 8px;
}

.minus__plus {
    display: flex;
    position: absolute;
    width: 83px;
    justify-content: space-between;
    bottom: 15px;
}

.minus__plus .minus {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(95, 93, 93, 0.25);
    cursor: pointer;
}

.minus__plus .plus {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(95, 93, 93, 0.25);
    cursor: pointer;
}

.item_quantity {
    font-weight: bold;
    align-self: center;
    text-shadow: 0px 4px 4px rgba(95, 93, 93, 0.25);
}

.cart__product-remove {
    color: var(--Thunderbird);
    cursor: pointer;
    display: none;
    align-items: center;
    border: none;
    background-color: var(--AntiFlash);
    right: 15px;
    bottom: 15px;
    position: absolute;
    font-size: 1.1rem;
}

.cart__product-description:hover .cart__product-remove {
    display: flex;
}

.resume {
    position: absolute;
    text-align: center;
    width: 90%;
    display: block;
    bottom: 20px;
    right: 18px;
    border-radius: 5px;
    background-color: var(--AntiFlash);
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(95, 93, 93, 0.25);
}

.resume strong{
    font-weight: 600;
}

.total__value {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

.frete_msg {
    font-size: .9rem;
}

.resume_divider {
    width: 90%;
}

.cart__products .confirm-button:hover {
    background-color: #408a36;
    transition: 1s;
}

.cart__product-line {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 2px;
    width: 50%;
    transform: translate(+50%);
}

.checkout-button {
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font: bold 1.5rem Kumbh Sans;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
    text-transform: uppercase;
    transition: 1s;
}

.checkout-button:hover {
    border-top: 2px solid #333333;
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-left: 2px solid #333333;
}

.cart__text {
    font-size: 1.5rem;
    box-sizing: border-box;
    display: block;
    text-align: center;
}


.empty-cart {
    width: 100%;
    display: flex;
}

.hide_remove {
    display: flex;
}


.cart__products::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 393px) {

    .hide_remove {
        display: none;
    }

    .empty-cart {
        width: 350px;
    }

    .cart__product-remove {
        right: 3px;
        bottom: 15px;
    }

}


@media screen and (max-width: 320px) {


    .cart__product-name {
        font-size: 1rem;
    }

    .empty-cart {
        width: 300px;
    }

    .hide_remove {
        display: none;
    }

}