* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
  
  body {
    background-color: #FDF9E9;
    font-family: Kumbh Sans;
    overflow-x: hidden;
  }


  .main-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  
  .main-container div {
    padding: 5px;
    background-color: transparent;
  }
  
  .main-container .container_menu {
    display: flex;
    flex-direction: row;
  }
  
  fieldset.grupo .Campo {
    float: left;
    margin-right: 1em;
  }
  
  fieldset {
    border: 1;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto 0;
  }
  
  #formulario_endereco{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
  }
  
  #endereco,#complemento, #referencia,#bairro{
    width: 609px;
  }
  
  @media screen and (max-width: 700px) {
    #endereco,#complemento, #referencia,#bairro{
      width: 300px;
    }
    #formulario_endereco{
      flex-direction: column;
    }
  }
  
  .Campo {
    margin-bottom: 2em;
  }
  
  .Campo label {
    margin-bottom: 0.2em;
    display: block;
    color: #181A17;
    font-size: 24px;
  }

  .icone{
    font-family: Material Icons, Kumbh Sans, sans-serif;
    cursor: pointer;
    color: #181A17;
  }
  .icone:hover{
    width: 10px;
    height: 10px;
  }
  
  .Campo input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: #ffffffbb;
  
    border: outset;
    border-top: hidden;
    border-left: hidden;
    border-right-color: var(#9E977B);
    border-bottom-color: var(#9E977B);
  
  }
  
  #botaodiv {
    text-align: center;
  }
  
  .botao {
    text-align: center;
    font-size: 1.2em;
    background: #26C248;
    border: 0;
    border-radius: 10px;
    margin-bottom: 1em;
    color: white;
    padding: 0.7em 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .hidden {
    display: none;
  }
  
  
  .container_cadastro,
  .container_cartao,
  .container_endereco {
    position: absolute;
    display: none;
    justify-content: center;
    width: 100vw;
    margin-top: 100px;
    left: 0;

  }
  
  
  
  /* ACAO BOTAO CONTA*/
  .btn_conta:focus~.container_cadastro {
    display: flex;
  }
  
  .btn_conta:focus~.container_endereco,
  .btn_conta:focus~.container_cartao {
    display: none;
  }
  
  .container_cadastro:hover {
    display: flex;
  }
  
  
  /* */
  .btn_endereco:focus~.container_endereco {
    display: flex;
  }
  
  .btn_endereco:focus~.container_cadastro,
  .btn_endereco:focus~.container_cartao {
    display: none;
  }
  
  .container_endereco:hover {
    display: flex;
  }
  
  
  
  /* */
  .btn_cartao:focus~.container_cartao {
    display: flex;
  }
  
  
  .btn_cartao:focus~.container_cadastro,
  .btn_cartao:focus~.container_endereco {
    display: none;
  }
  
  .container_cartao:hover {
    display: flex;
  }
  
  .container_menu .botao_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  
    font-size: clamp(1em, 1em + 1vw, 3em);
    border: 0;
    border-radius: 10px;
    margin-bottom: 1em;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .btn_endereco{
    margin: 0 10px;
  }
  
  .botao_menu:hover, .botao_menu:focus{
    background: #9E977B;
    color: #FDF9E9;
  }
  
  button {
  
    letter-spacing: 1.3px;
    font-weight: bold;
  
    color: #FDF9E9;
    background: #181A17;
    background: linear-gradient(90deg, #181A17 0%, #181A17 100%);
    border: none;
    box-shadow: 12px 12px 24px #68604185;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-bottom: 30px;
  }
  
  button:hover , button:focus{
    transform: translateY(-6px);
  }