.component_button {
    font-family: Kumbh Sans;
    font-weight: 600;
    letter-spacing: 2.5px; 
    text-transform: uppercase;
    color: var(--HeavyMetal);

    padding: 10px;
    height: 50px;
    
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.274);
  
    cursor: pointer;
    transition: 1s;

    display: flex;
    align-items: center;
}

.component_button:hover {
    background-color: var(--HeavyMetal);
    color: var(--AntiFlash);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.712);

    transform: translate(0, -10px);
}