/* VAR COLORS */ 
:root {
  --MetallicRed: #b12f2f;
  --Thunderbird: #d01212;
  --SilverChalice: #a0a0a0;
  --QuarterWhite: #f7f0de;
  --OldLace: #fdf9e9;
  --FriarGray: #817f74;
  --HeavyMetal: #181a17;
  --Gurkha: #9e977b;
  --Chino: #ccbfa0;
  --AntiFlash: #f1f1f1;
  --DustyGray: #949494; 

  --Instagram: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  --Facebook: #046EE5;
  --Youtube: #FF0000;
  --Linkedin: #0A66C2;
}

/* FONT FAMILY */ 
@font-face {
  font-family: Germania One;
  src: url("./fonts/GermaniaOne/germania-one.ttf");
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Kumbh Sans;
  src: url("./fonts/KumbhSans/KumbhSans-Black.ttf");
  font-weight: 900;
}

/* SCROLL BAR */
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0000004d;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}