.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 5px;
    padding: 5px;

    width: 175px;
    height: 225px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    text-align: center;

    box-shadow: 2px 2px 4px #000;

    font-size: 12px;
}

.product img {
    width: 100px;
}

.product hr {
    width: 125px;
}

.product button{
    background-color: rgb(33, 88, 139);
    color: aliceblue;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #000;
    cursor: pointer;
}

.Form__CadastroProduto .cartegory {
    width: 100%;

    padding: 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 4px #000;
    margin-bottom: 1.2em;
}

.formulario {
    font-family: Kumbh Sans;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    box-sizing: border-box;
    width: 100%;
}

.formulario form {
    border-radius: 20px;
    padding: 1rem;
}

.formulario h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
}

.formulario__botao {
    display: flex;
    justify-content:center;
    margin: 10px 0 40px 0;
}

@media screen and (max-width: 380px) {
    .formulario form  {
        padding: 0 !important;
    }
}