.user_history {
    min-height: 400px;
    width: 100%;
    padding: 15px;
    margin-right: 10px;
    box-sizing: border-box;
}

.user_history .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
}

.order {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    padding: 1em;
    box-sizing: border-box;

    border-radius: 10px;
    background-color: var(--HeavyMetal);
    color: #fefefe;
}

.order .order_details {
    width: 100%;

    font-size: 14px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.order .order_details p{
    width: 100%;
    max-width: 45%;
    margin: .5em;
    box-sizing: border-box;
}

.order strong {
    font-weight: 600;
}

.order .order_items {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;

    font-size: 10px;
}

.order .order_items .order_item {
    border-radius: 5px;
    display: flex;
    margin: 10px 15px 5px 0;
    
    box-shadow: 2px 2px 6px #fefefe;
}

.order .order_items .order_item img{
    border-radius: 5px;
    height: 100px;
}

.order .order_items .order_item .order_item_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 160px;
    padding: 10px;
}

.order .order_items .order_item .order_item_description p{
    margin-bottom: 3px;
}

@media screen and (max-width: 380px) {
    .order .order_items .order_item {
        flex-direction: column;
        align-items: center;
    }

    .order_item .order_item_description {
        display: none !important;
    }


    .order .order_details p{
        min-width: fit-content;
    }

    .order .order_items .order_item img{
        height: 100px;
    }
}