
.form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
  
.title {
    font-size: clamp(25px, 3.5vw, 35px); 
    font-weight: bold;
    margin: 15px 0;
    width: 100%;
    justify-content: center;
    display: flex;
}
  
  .title h1 {
    color: #000002;
  }
  
  .title h1 span {
    color: #000000;
  }
  
  /* DADOS PESSOAIS */
  
  .input-group {
    padding: 10px;
    font-size: 18px;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
  }
  
  .input-box input {
    padding: 10px 25px;
    box-sizing: border-box;
    width: 390px;
    letter-spacing: 1.3px;
    border-radius: 5px;
    background-color: #00000013;
    border-top: hidden;
    border-left: hidden;
    border-right-color: #000000;
    border-bottom-color: #000000;
  }

::-webkit-input-placeholder {
  color: #000000;
}
/* link fazer login */

.login {
  letter-spacing: 0.3px;
  margin-bottom: 15px;
}

.login a {
  text-decoration: none;
  color: blue;
}

@media (max-width: 500px) {

  .input-box input{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }






}

