/* Container Sessão Catalago de Produtos*/
.catalago {
    background-color: #FFFFFF;
    font-family: Kumbh Sans;

    display: flex;
    flex-wrap: wrap;
    
    margin: 10px 5px;
    padding: 5px;
}
/*Card Catalago de Produtos*/
.catalago__produto {
    flex: 1 1 250px; /*flex-grow, flex-shrink, flex-basis*/
    position: relative;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-around; /* spaço igual em toda a linha;*/
    
    
    margin: 2px 5px 16px;
    padding: 5px;
    box-sizing: border-box;   /*Controle de Padding*/
    
}
/*Imagens dos Produtos*/
.catalago__produto img {
    cursor: pointer;
    max-width: 95%;
    display: block;
    border-radius: 8px;
    
}
/* Transição de Imagens Hoover*/
.catalago__produto .item_img--a {
   display: none;
   
      
}
.catalago__produto:hover .item_img--a {
    display: block;
   
    
}
.catalago__produto:hover .item_img {
   display: none;
   
     
}

/*Estilização de Textos*/
.description__product h3 {
    margin: 8px 0px 4px;
    line-height: 1.2;
    box-sizing: border-box;
    font-size: clamp(9px, 4vw, 14px); /*mínimo, valor preferencial e valor máximo*/
    padding: 3px;
    color: #555050;
    
}


.catalago__text--regular_price {
    
    padding-bottom: 2px;
    margin-top: auto;
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: clamp(10px, 4vw, 17px); /*mínimo, valor preferencial e valor máximo*/
    
}
.catalago__text--riscado {
    padding-bottom: 2px;
    text-decoration: line-through;
    margin-top: auto;
    font-size: clamp(9px, 4vw, 12px);
    box-sizing: border-box;
}
/*Desconto em cima da IMG*/
.catalago__tex--regular_price--sale {
    font-size: clamp(10px, 3vw, 14px); /*mínimo, valor preferencial e valor máximo*/
    top: 5px;
    left: 0;
    color: rgba(0, 0, 0, 0.87);
    padding: 3px 10px;
    z-index: 1;
    
    position: absolute;
    font-weight: 700;
    background-color: #FFF;
}
.cor_desconto {
    color: rgb(197, 85, 70);
}
/*Ajustes de Telas*/
@media only screen and (max-width: 500px) {
    .catalago__produto {
        flex: 1 1 128px; /*flex-grow, flex-shrink, flex-basis*/
    }
    .catalago__tex--regular_price--sale {
        padding: 3px 7px;
    }
}