/* Container Sessão Catalago de Produtos*/
.catalago {
    background-color: #FFFFFF;
    font-family: Kumbh Sans;

    display: flex;
    flex-wrap: wrap;
    
    margin: 10px 5px;
    padding: 5px;
}
/*Card Catalago de Produtos*/
.catalago__produto {
    flex: 1 1 210px; /*flex-grow, flex-shrink, flex-basis*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* spaço igual em toda a linha;*/
    
    
    margin: 0 5px 16px;
    padding: 5px;
    box-sizing: border-box;   /*Controle de Padding*/
    
}
/*Imagens dos Produtos*/
.catalago__produto img {
    cursor: pointer;
    max-width: 95%;
    display: block;
    border-radius: 8px;
    
}
/* Transição de Imagens Hoover*/
.catalago__produto .item_img--a {
   display: none;
   
      
}
.catalago__produto:hover .item_img--a {
    display: block;
   
    
}
.catalago__produto:hover .item_img {
   display: none;
   
     
}
.img_gray {
    -webkit-filter: grayscale(1);
}
/*Estilização de Textos*/
.catalago__text {
    font-size: clamp(9px, 4vw, 16px); /*mínimo, valor preferencial e valor máximo*/
    padding: 10px;
    color: #555050;
    text-align: left;
    
}
.catalago__text--preco {
    
    margin-top: auto;
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: clamp(10px, 4vw, 18px); /*mínimo, valor preferencial e valor máximo*/
    
}
.catalago__text--riscado {
    padding-bottom: 3px;
    text-decoration: line-through;
    
    font-size: clamp(9px, 4vw, 12px);
    box-sizing: border-box;
}
.catalago__tex--preco--sale {
    font-size: clamp(10px, 4vw, 14px); /*mínimo, valor preferencial e valor máximo*/
    top: 5px;
    left: 0;
    color: rgba(0, 0, 0, 0.87);
    padding: 3px 20px;
    z-index: 1;
    
    position: absolute;
    font-weight: 700;
    background-color: #FFF;
}
.cor_desconto {
    color: rgb(197, 85, 70);
}
.produto_esgotado {
    font-size: clamp(10px, 4vw, 20px); /*mínimo, valor preferencial e valor máximo*/
    top: 25px;
    left: 0;
    color: rgba(209, 14, 14, 0.87);
    padding: 13px 70px;
    z-index: 1;
    position: absolute;
    font-weight: 700;
    background-color: #FFF;
}