.catalago {
    font-family: Kumbh Sans;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 10px 80px;
    padding: 5px;
}

.catalago::after {
    flex: auto;
}

/*Card Catalago de Produtos*/
.catalago__produto {
    display: flex;
    flex-direction: column;

    width: 18%;
    min-width: 175px;
    max-width: 250px;

    position: relative;
    
    text-decoration: none;

    margin-right: 5px;
    padding: 8px 10px;
    box-sizing: border-box;   /*Controle de Padding*/

    border-radius: 10px;
}
/*
.catalago__produto:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
}*/

/*Imagens dos Produtos*/
.catalago__produto--image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.catalago__produto img {
    cursor: pointer;
    max-width: 100%;
    height: 100%;
    display: block;  
}

.catalago__produto:has(.produto__disable), 
.catalago__produto:has(.produto__disable) img {
    cursor: not-allowed !important;
}

.catalago__produto .produto__disable {
    filter: grayscale(100%);
}

/* Transição de Imagens Hoover*/
.catalago__produto .item_img--a {
    opacity: 0;
    position:absolute;
    top: 0;
    left: 0;

    transition: all .1s linear;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0s;

}

.catalago__produto:hover .item_img--a {
    opacity: 1;
}

/*Estilização de Textos*/
.description__product {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    
}
.catalago__produto h3 {
    margin: 8px 0px 4px;
    line-height: 1.2;
    box-sizing: border-box;
    font-size: clamp(9px, 4vw, 14px); /*mínimo, valor preferencial e valor máximo*/
    padding: 3px;
    color: #555050;
    
}



.catalago__text--regular_price {
    
    padding-bottom: 2px;
    margin-top: auto;
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: clamp(10px, 4vw, 17px); /*mínimo, valor preferencial e valor máximo*/
    box-sizing: border-box;
    padding: 3px;
}
.catalago__text--riscado {
    padding-bottom: 2px;
    text-decoration: line-through;
    margin-top: auto;
    font-size: clamp(9px, 4vw, 12px);
    box-sizing: border-box;
    color: black;
    padding: 3px;
}
/*Desconto em cima da IMG*/
.catalago__tex--regular_price--sale {
    font-size: clamp(10px, 3vw, 14px); /*mínimo, valor preferencial e valor máximo*/
    top: 10px;
    left: 12px;
    color: rgba(0, 0, 0, 0.87);
    padding: 3px 10px;
    z-index: 1;
    
    position: absolute;
    font-weight: 700;
    background-color: #FFF;

    border-radius: 15px; 
}
.cor_desconto {
    color: rgb(197, 85, 70);
}

/*Ajustes de Telas*/

@media only screen and (max-width: 870px) {
    .catalago {
        margin: 10px 35px;
    }
}

@media only screen and (max-width: 620px) {
    .catalago {
        margin: 10px;
    }

    .catalago__produto {
        min-width: 150px;
    }
    
    .catalago__tex--regular_price--sale {
        padding: 3px 7px;
    }
}

@media only screen and (max-width: 495px) {
    .catalago__produto {
        min-width: 50%;
        margin: 0;
    }
}
/*Ajuste para telas acima de 1700 de Largura*/
@media only screen and (min-width: 1700px){
    .catalago {
        justify-content:flex-start;
        
        margin-right: 1em;
        margin-left: 3em; 
    }
}