

/*Tratamento para que as IMG aumente no máximo 100% ao container*/
img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Kumbh Sans;
    position: relative;
    background-color: #FDF9E9;
}

.catalogo{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
    margin-top: 70px;

    overflow-y: scroll;
    height: calc(100vh - 70px);
    width: 100vw;
}
/*> Elementos filho de Catalago*/
.catalogo > div {
    flex: 1 1 200px;
    margin: 10px;
}

.catalago__produto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F7F0DE ;

    border-width: 2px;
    border-style: outset;
    border-color: #9e977b;
}

.catalago__produto img {
    cursor: pointer;
}

.catalago__text {
    font-size: clamp(0.5em, 1em + 1vw, 1.0em);
    padding: 10px;
    color: #181A17;
}
.catalago__text--preco {
    margin-top: auto;
    font-weight: bold;
    
}
.catalago__text--riscado {
    text-decoration: line-through;
    font-size: 12px;
}
/*Pri= Primeira Imagem e Seg=Segunda*/
.catalago__produto .seg {
    display: none;
}

.catalago__produto:hover .seg {
    display: block;
}

.catalago__produto:hover .pri {
    display: none;
}

.catalago__desconto {
    position: absolute;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    right:  0;
    border-radius: 5px;
    background-color: #807a64;
}
.catalago__desconto .titulo_desconto {
    font-size: 1.0rem;
    color: aliceblue;
    
}
.catalago__text--desconto {
    margin-top: auto;
    font-weight: bold;
    color: #D0413B;
}
.catalago__out {
    position: absolute;
    background-color: transparent;
}
/*Ajustes de Telas*/
@media only screen and (max-width: 600px) {
    .catalogo > div {
        flex: 1 1 128px;
        margin: 10px;
    }
  }
  @media only screen and (max-width: 600px) {
    .catalago__desconto .titulo_desconto {
       font-size: 0.6rem;
       
    }
}