/*Tratamento para que as IMG aumente no máximo 100% ao container*/
img {
    max-width: 100%;
    display: block;
}

.flex_catalogo{
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw; /*Limite para a quebra*/
    margin: 0 auto;
}
.flex_catalogo > div {
    flex: 1 1 200px;
    margin: 10px;
}
body {
    font-family: Kumbh Sans;
    
}


.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
p {
    padding: 0.3rem;
}
.preco {
    font-weight: bold;
}
/*Troca de imagens ao passar o mouse*/
.produto {
    position: relative;
}

.produto .seg {
    visibility: hidden;
    opacity: 0;
    position:absolute; /*Fazer ajuste para manter a proporção de img de fundo*/
    top: 0px;
    left:0px;
}
.produto:hover .seg {
    visibility: visible;
    opacity: 1;
}