.formulario {
    font-family: Kumbh Sans;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    box-sizing: border-box;
    width: 100%;

}

.formulario form {
    /* background-color: #F2F2F2; */
    border-radius: 20px;
    /* padding: 13px 44px 10px 44px; */
    /* box-shadow: 8px 8px 16px rgba(0,0,0, 0.08); */
    /* margin: 10px 20px 15px 20px; */
    padding: 1rem;
    /* height: 100%; */
}

.formulario h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
}

/* @media screen and (max-width: 1280px) {
    .formulario form {
        width: 500px;
        padding: 36px 18px;
    }
    .formulario{
        display: flex;
        justify-content: left;
        margin-left: 5%;
    }
} */

@media screen and (max-width: 700px) {



    .formulario form {
        padding: 0;
    }
}