.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}

.button {
  border: none;
  background-color: var(--blueCheckout);
  width: 80%;
  height: 50%;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
