.navbar {
    width: 100%;

    background-color: #fff;
    color: var(--HeavyMetal);

    font-family: Kumbh Sans;
    font: 12px;

    padding: 0px 1em;
    box-sizing: border-box;
    box-shadow: 0px 0 6px #000;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* LOGO */

.navbar .navbar__logo {
    height: 100%;

    transition: 1s;
}

.navbar .navbar__logo:hover {
    filter: drop-shadow(0px 0px 5px #0e0d0d9c);
}

.navbar .navbar__logo img {
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
}

.navbar h2 {
    font-size: clamp(16px, 1vw + 2px, 20px);
    text-align: center;
    margin-bottom: 10px;
}

/* BUTTONS */

.navbar .navbar__menu {
    display: flex;
    align-self: stretch;
}
.navbar .navbar__menu__button {
    background-color: transparent;
    color: var(--HeavyMetal);
    height: 100%;
    border: 3px solid transparent;
    box-sizing: border-box;
    position: relative;
    
    cursor: pointer;
    transition: .8s;
}

.navbar .navbar__menu__button:hover{
    border-bottom-color: var(--HeavyMetal);
}

/* Adiciona uma margem em todos os filhos após o primeiro */
.navbar .navbar__menu *:nth-child(n+2) {
    margin-left: 5px;
}

.navbar .navbar__button__icon {
    font-size: 45px;
    padding: 5px;
    
    filter: drop-shadow(0px 0px 5px #00000050);
}

.navbar__menu__button .bag__items-count {
    position: absolute;

    top: 30px;
    left: 0;
    width: 85%;

    font-size: 14px;
    font-weight: 600;

    display: flex;
    justify-content: center;
}

/* CART */

.background_hover {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #00000080;
    backdrop-filter: blur(1px);

    transition: .4s ease-in;
}

.cart__box {
    position: fixed;
    top: 15px;
    background-color: #fff;

    width: calc(100% - 30px);
    max-width: 400px;

    height: calc(100vh - 30px);

    border-radius: 10px;

    transition: .5s ease-in;

    z-index: 999;
}

.cart_header {
    padding: 5px 10px;

    display: flex;
    align-items: center;

    font-weight: 600;
}

.cart__button {
    font-size: 30px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    display: flex;
    align-items: center;
}
    
.close__icon:hover {
    color: var(--MetallicRed);
}

/* RESPONSIVIDADE */

@media all and (max-width: 500px){
    .navbar {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .navbar .navbar__logo img {
        height: 50px;
    }

    .navbar .navbar_search {
        order: 2;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    .navbar .navbar__button__icon {
        font-size: 35px;
    }

    .navbar .navbar__menu__button:hover{
        border-bottom-color: #fff;
    }

    .navbar__menu__button .bag__items-count {
        top: 20px;
    
        width: 46px;
        height: 100%;
    
        font-size: 14px;
        font-weight: 600;
    }
}