*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}  

.navbar {
  width: 100vw;
  height: 70px;
  background-color: #bd3259c4;
}

.container {
  background: #fad7d7; 
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Kumbh Sans;
  letter-spacing: 1.3px;
  height: calc(100vh - 70px);
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;  
}

/* DADOS PESSOAIS */

.input-group {
  padding: 2px;
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  font-size: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.input-box input {
  padding: 8px;
  width: 300px;
  border: none;
  border-radius: 5px;
}

/* transições input-box */

.input-box:hover {
  color: #bd3259c4;
  transition-duration: 300ms;
}

/* BOTÃO DE REGISTRO */

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 140px;
  height: 40px;
  text-transform: Bold;
  letter-spacing: 1.3px;
  font-weight: bold;
  color: #bd3259c4;
  background: #bd3259c4;
  background: linear-gradient(90deg, #bd3259c4 0%, #a82147c4 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #5a122683;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-top: 30px;
}

button a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

/* Animação botão */

button::before {
  content: '';
    border-radius: 1000px;
    width: calc(135px + 12px);
    height: calc(35px + 12px);
    border: 6px solid #bd3259c4;
    box-shadow: 0 0 60px #bd3259c4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
    
button:hover, button:focus {
  color: #313133;
  transform: translateY(-6px);
}
    
button:hover::before, button:focus::before {
  opacity: 1;
}
    
button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    
button:hover::after, button:focus::after {
  animation: none;
  display: none;
}
    
