.navbar .nome_e-commerce{
  position: absolute;
  width: 100vw;

  text-align: center;
  font-family: Germania One;
  font-size: clamp(25px, 3.5vw, 35px); 
  letter-spacing: 1.3px; 
  color: #FDF9E9;
}

.container {
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;

  font-family: Kumbh Sans;
  letter-spacing: 1.3px;

  background: #FDF9E9 ; 
  color: #181A17;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(25px, 3.5vw, 35px); 
  font-weight: bold;
  margin: 30px 0;
}

.title h1 {
  color: #313133;
}

.title h1 span {
  color: #9e977b;
}

/* DADOS PESSOAIS */

.input-group {
  padding: 10px;
  font-size: 18px;

  margin-bottom: 1%;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box input {
  margin-top: 5px;
  padding: 8px;
  width: 300px;
  border-radius: 5px;
  background-color: #ffffff81;
  
  border: outset;
  border-top: hidden;
  border-left: hidden;
  border-right-color: #9e977b;
  border-bottom-color: #9e977b;
}

/* transições input-box */

.input-box:hover {
  color: #7a6c3b;
  transition-duration: 1000ms;
}

/* BOTÃO DE REGISTRO */

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 140px;
  height: 40px;
  
  letter-spacing: 1.3px;
  font-weight: bold;
  color: #9e977b;
  background: #9e977b;
  background: linear-gradient(90deg, #9e977b 0%, #9e977b 100%);
  
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #68604185;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-bottom: 30px;
}

button a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
    
button:hover, button:focus {
  color: #313133;
  transform: translateY(-6px);
}
    
    