.Subtitulo{
    /* font-family: Kumbh Sans; */
    font-family: Arial;
    font-size: 40px;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    
}

.Subtitulo svg {
    font-size: 2rem;
    padding: 0px 10px 0px 0px;
}

@media screen and (max-width: 700px) {

    .Subtitulo{
        font-family: Arial;
        font-size: 40px;
        margin-left: -3%;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        
    }
}