.banner {
   position: relative;
   margin-top: 0;
   width: 100%;
   box-sizing: border-box; 
   align-items: center;
  /* margin: 10px;*/
  

}
.banner .banner__img {
    display: block;
    width: 100%;
    
   /* border-radius: 10px;*/
    
}
/* Poscionamntos da Setinhas*/
.arrow {
    position: absolute;
    
    top: 45%;
    
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;

    padding: 5px;
    border-radius: 400px;
    
}
.right-arrow {
   right: 5%;
}

.left-arrow {
    left: 5%;
}

.arrow:hover {
    background-color: rgba(226, 207, 207, 0.4);
    opacity: 1;
}
/*Ajuste de Tela*/
@media only screen and (max-width: 500px) {
    .arrow {
        top: 35%;
        font-size: 1rem;
    }
    .right-arrow {
        right: 2%;
     }
     
     .left-arrow {
         left: 2%;
     }
}