.address {
  display: flex;
  flex-direction: column;
}
.address-main-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.address-container {
  display: flex;
}
.address-options-container {
  justify-content: flex-end;
}

.address-options-container div {
  display: flex;
  align-items: center;
}

.address-options-container svg {
  font-size: 25px;
}

.address-options-container a {
  font-size: clamp(0.4rem, 0.1rem + 0.6vw, 1rem);
  text-align: right;
}

.address-options-container:nth-child(2) {
  width: 20%;
}

@media (max-width: 800px) {
  .address-options-container_mobile {
    display: flex;

    width: 20vw;
  }
}
